  
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" style="text-align: center;">
        <span class="text-muted">&copy; Paradise 2021</span>
        
        <span class="text-muted" >Contact: 0000000011</span>
        
    </div>
</footer>