<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelgrounds</title>
</head>
<body>
    <h1>All Hotelgrounds</h1>
    <div>
        <a href="/hotelgrounds/new">Add New Hotels</a>
    </div>
    <ul>
        <% for(let hotelground of hotelgrounds ) { %>
            <li><a href="/hotelgrounds/<%= hotelground._id %>"><%= hotelground.title %> </a></li>
            <% } %>
    </ul>
    
</body>
</html>