<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Hotelground</h1>
    <div class="col-6 offset-3">
        <form action="/hotelgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="hotelground[title]" required>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="hotelground[location]" required>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="hotelground[image]" required>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Hotelground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="hotelground[price]" required>
                        <div class="valid-feedback">
                            Valid
                        </div>
                        
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description" >Description</label>
                <textarea class="form-control" type="text" id="description" name="hotelground[description]" required></textarea>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Hotelground</button>
            </div>
        </form>
        <a href="/hotelgrounds">All Hotelgrounds</a>
    </div>
</div>

