<% layout('layouts/boilerplate') %>
    <form action="/hotelgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id = "title" name="hotelground[title]">
        </div>
        <div>
            <label for="location">location</label>
            <input type="text" id = "location" name="hotelground[location]">
        </div>
        <button>Add Hotelground</button>
    </form>
    <a href="/hotelgrounds">All Hotelgrounds</a>
    
