<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1><%= hotelground.title %></h1>
    <h1><%= hotelground.location %></h1>
    <p>
        <a href="/hotelgrounds/<%= hotelground._id %>/edit">Edit</a>
    </p>
    <p>
        <form action="/hotelgrounds/<%= hotelground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
        
<footer>
    <a href="/hotelgrounds">All Hotelgrounds</a>
</footer>
   
    
    
       
    
</body>
</html>