<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5 ">
    <div class="row">
        <div class="col-md-4 offset-md-5 col-xl-5 offset-xl-4">
            <div class="card shadow">
                <img src="https://d3nn873nee648n.cloudfront.net/900x600/10026/4-SM270739.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>